body {
    position: relative;
    height: 100vh;
    left: 30%;
    margin-top: 10%;
}

.main--container {
    background-color: azure;
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
}

h3 {
    font-size: xx-large;
}

.password--container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
}

.input--field {
    padding: 10px;
    width: fit-content;
    height: 15px;
}

#btn,
#copy {
    padding: 10px;
    background-color: rgb(161, 181, 181);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 3px;
    width: fit-content;
    height: fit-content;
}

#copy-confirmation {
    color: rgb(4, 171, 4);
    font-weight: bolder;
    background-color: rgb(218, 224, 222);
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    body {
        left: 0;
        /* margin-top: 5%; */
    }
    h3{
        text-align: center;
    }
    .main--container {
        width: 100%;
        height: 50%;
    }

    .password--container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .input--field {
        width: 75%;
    }

    #btn, #copy {
        width: 80%;
        margin: 5px 0;
    }

    #copy{
        margin-bottom: 10px;
    }
}
